/* Write your CSS here */
li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border: 1px solid #b5b7c4;
  padding: 17px;
  height: 130px;
  width: 320px;
  border-radius: 17px;
  margin-bottom: 17px;
  margin-right: 12px;
  margin-bottom: 12px;
}
.title {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 700;
}
.h-star-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 320px;
}
.btn {
  border: none;
  outline: none;
  background-color: transparent;
}
